.container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

.container header {
    grid-area: header;
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.container main {
    grid-area: main;
}

.container footer { 
    grid-area: footer;
    margin-bottom: 0;
    background-color: #191C24;
}

.iconeWhatsApp {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 4.5rem;
}

@media only screen and (max-width: 768px){
    
    .iconeWhatsApp {
        position: fixed;
        margin-top: 8rem;
        top: 0;
        right: 0;
        padding: 4.5rem;
        height: 8rem;
    }
    
}