.menu {
  background-color: inherit;
}

.section {
  background-image: url('/linqcode-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.banner{
  min-height: 100vh;
  display: flex; 
  align-items: center;
  position: relative;
}

.title {
  color: #FFF;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 3rem;
}


.saibaMais > a {
  background-color: #FF6000;
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-size: 1rem;
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: right;
  /* width: 10%; */
}

.containerButton a {
  background-color: #FF6000;
  height: 6rem;
  width: 6rem;
  border-radius: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #B63533 0px 0px 5rem 0.5rem;
}

.containerButton > a > div {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  border-color: transparent transparent transparent #FFF;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 0.6rem 0 0.6rem 1rem;
  margin-left: 0.5rem;
}

.cardsCircle {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.depoimento{
  color: #FFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  
}

.depoimento div{
  padding-left: 0.75rem;
}

.clientesAtendidos { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 4rem;
}

.clientesAtendidos img {
  max-width: 220px;
  /* filter: brightness(1);  */
  filter: contrast(110%); 
  /* filter: grayscale(80%);   */
  /* filter: invert(75%);  */
  /* filter: opacity(25%);  */
  /* filter: saturate(30%);  */
  /* filter: sepia(60%);  */
}

.buttonSaibaMais { 

  padding: 10px;
  border: none;
  background-color: #FF6000;
  color: #FFF;
  border-radius: 10px;
  cursor: pointer;
}

.menuOpacityOn { 
  position: absolute;
  background-color: inherit;
}

.menuOpacityOff { 
  background-color: black;
}

@media screen and (max-width: 610px){

  .banner {
    min-height: 250px;
  }

  .menuOpacityOff, .menuOpacityOn {
    position: absolute;
    background-color: #101116;
    height: 8rem;
  }

  .menuOpacityOff, .menuOpacityOn {
    position: absolute;
    background-color: #101116;
  }

  .menuOpacityOff nav, .menuOpacityOn nav {
    height: 8rem;
  }

  .menuOpacityOff nav img, .menuOpacityOn nav img {
    width: 10rem;
  }

  .containerButton {
    display: none;
  }

  .title{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .saibaMais{
    margin-top: 30px;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .cardsCircle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardsCircle div {
    margin: 10px auto;
  }

}

@media screen and (max-width: 694px){

  .cards {
    display: flex;
    flex-direction: column;
  }

  .cards div {
    min-width: 100%;
  }

  .cardsCircle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardsCircle div {
    margin-bottom: 10px;
  }

}

@media screen and (min-width: 695px) and (max-width: 720px){

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
  }

}

@media screen and (max-width: 768px){

  .menuOpacityOff nav, .menuOpacityOn nav {
    height: 8rem;
  }

}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 781px) {
  
  .banner {
    min-height: 350px;
  }

}